<!DOCTYPE html>
<html>
<head>
  <title>UrlPreview</title>
  <%= stylesheet_link_tag    "url-preview/application", :media => "all" %>
  <%= javascript_include_tag "url-preview/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
